/backup
!.dockerignore
/vendor
/node_modules
.github
.git
.env
.env.production
.env.local
.Dstore
.DS_Store
.idea
.vscode
_ide_helper.php
.phpstorm.meta.php
*.log
_ide_helper_actions.php
bootstrap/cache/*.php
storage/*.key
storage/logs/*.log
storage/debugbar/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
public/mix-manifest.json
