/node_modules
/public/hot
/public/storage
/public/backend
/public/website
/public/js
/public/css
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
