.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-link {
    padding: 0.3rem 0.75rem;
}
.page-link {
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #6c757d;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
