.feather {
    width: 18px;
    height: 18px;
    font-weight: 800;
    stroke-width: 2;
  }

  .feather-sm {
    width: 14px;
    font-weight: 800;
    height: 14px;
  }

  .feather-lg {
    width: 36px;
    font-weight: 800;
    height: 36px;
  }
